
.type{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    line-height: 1;
    padding: 6px 12px;
    border-radius: 5px ;
    margin: 5px 2px;
}

  