@font-face {
    font-family: 'PokemonHollow';
    src: url('/public/fonts/pokemon-hollow.ttf') format('truetype');
  }
  @font-face {
    font-family: 'PokemonSolid';
    src: url('/public/fonts/pokemon-solid.ttf') format('truetype');
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    background-image: url('/public/assets/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
    color: #f1c73cec;
    text-shadow: 4px 4px 3px #214287, 0px -2px 3px #214287, 0px 0px 6px #214287;
    letter-spacing: 5px;
    font-family: 'PokemonSolid', sans-serif;
}

.login {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgb(202, 202, 202) 0%, rgba(255,255,255,0.5) 35%, rgba(255,255,255,0) 100%);
}

.enter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    position: absolute;
    bottom: 100px;
    left: 45%;
    & span {
        font-family: 'PokemonSolid', sans-serif;
        color: #214287;
        font-size: 1rem;
        letter-spacing: 3px;
        text-shadow: 3px 3px 5px white;
    }
}

.pokeball {
    position: absolute;
    bottom: 80px;
    right: auto;
    left: 25%;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 10px solid black !important;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    overflow: hidden;
    box-shadow: 0px 20px 30px #838181;
    &:hover {
        opacity: 1;
        transition: 400ms;
        animation: rotate-scale-up 1.65s infinite both;
    }
    & .red {
        margin-top: -200px;
        border-bottom: 10px solid black;
        background-color: #ED1B24;
    }
    & .white {
        margin-top: 210px;
        margin-left: -400px;
    }
    & div {
        background-color: white;
        width: 400px;
        height: 200px;
    }
    & a {
        position: absolute;
        width: 100px;
        height: 100px;
        border: 10px solid black;
        background-color: white;
        border-radius: 100%;
        cursor: pointer;
        &:hover{
            background-color: #bebcbc;
            transition-duration: 400ms;
        }
    }
}

@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateZ(180deg);
              transform: scale(2.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateZ(180deg);
              transform: scale(2.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }